export interface <%= className %>Props {
  description?: string;
  title: string;
}

export function <%= className %>({
  description,
  title,
}: <%= className %>Props) {
  return (
    <section aria-label={title} className="sketchi-<%= fileName %>">
      <h2>{title}</h2>
      {description ? <p>{description}</p> : null}
    </section>
  );
}
