import type { Meta, StoryObj } from "@storybook/react-vite";

import { <%= className %> } from "./<%= fileName %>";

const meta = {
  title: "<%= storyTitle %>",
  component: <%= className %>,
  args: {
    title: "<%= className %>"
  }
} satisfies Meta<typeof <%= className %>>;

export default meta;

type Story = StoryObj<typeof meta>;

export const Default: Story = {};
